<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <standardEndpoints />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRedPill" sendTimeout="00:05:00" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="BasicHttpsBinding_IRedPill" sendTimeout="00:05:00" />
      </basicHttpsBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="RedPill_ServiceBehavior" name="LetsReadify.RedPill">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
          name="BasicHttpBinding_IRedPill" contract="LetsReadify.IRedPill" />
        <endpoint address="" binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
          name="BasicHttpsBinding_IRedPill" contract="LetsReadify.IRedPill" />
        <host>
          <timeouts closeTimeout="00:01:00" openTimeout="00:05:00" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>        
        <behavior name="RedPill_ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="200" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
