<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div class="modal-body panel-primary">

                <div class="panel-heading text-center">Tax Invoice</div>
                <div class="panel-body">
                    <table class="table borderless">
                        <tbody>
                            <tr>
                                <td>Reference ID</td>
                                <td><label id="salesAmount" class="form-control smallFont input-lg"><span class="pull-right">{{NewTransaction.Id}}</span></label></td>
                            <tr>
                                <td>Date</td>
                                <td><label id="salesTax" class="form-control smallFont input-lg"><span class="pull-right">{{NewTransaction.TransactionDate}}</span></label></td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td><label id="salesTotal" class="form-control smallFont input-lg"><span class="pull-right">{{NewTransaction.TotalAmount}}</span></label></td>
                            </tr>
                            <tr>
                                <td>Balance</td>
                                <td><label id="salesBalance" class="form-control smallFont input-lg"><span class="pull-right">{{salesBalance()}}</span></label></td>
                            </tr>
                        </tbody>
                    </table>                   
                </div>                
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" ng-click="$hide()"><span class="glyphicon glyphicon-print"> Receipt</span></button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="$hide()"><span class="glyphicon glyphicon-usd">ooper!!!</span></button>
            </div>
        </div>
    </div>
</div>