<div container></div>
    <!--<div id="content" class="content span10" ng-view=""></div>-->

    <!--<div ng-repeat="n in [2] |Range">
        <div class="project-container">
            <div class="project-shot">
                <a href="#"><img src="images/projects/previews/project2.png" /></a>
            </div>
            <div class="project-description">
                <div class="name">Sample project 2</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
                <div class="actions">
                    <a class="btn btn-mini btn-inverse" href="#/project">
                        View Details
                    </a>
                </div>
            </div>

            <div class="project-stats">
                <span class="views">
                    <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 225
                </span>
                <span class="likes">
                    <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 56
                </span>
            </div>
        </div>
    </div>-->

    <!--<div class="project-container">
        <div class="project-shot">
            <a href="#"><img src="images/projects/previews/project3.png" /></a>
        </div>
        <div class="project-description">
            <div class="name">Sample project 3</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
            <div class="actions">
                <a class="btn btn-mini btn-inverse" href="pages/projects/project3.html">
                    View Details
                </a>
            </div>
        </div>

        <div class="project-stats">
            <span class="views">
                <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 154
            </span>
            <span class="likes">
                <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 35
            </span>
        </div>
    </div>

    <div class="project-container">
        <div class="project-shot">
            <a href="#"><img src="images/projects/previews/project4.png" /></a>
        </div>
        <div class="project-description">
            <div class="name">Sample project 4</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
            <div class="actions">
                <a class="btn btn-mini btn-inverse" href="pages/projects/project4.html">
                    View Details
                </a>
            </div>
        </div>

        <div class="project-stats">
            <span class="views">
                <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 458
            </span>
            <span class="likes">
                <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 541
            </span>
        </div>
    </div>

    <div class="project-container">
        <div class="project-shot">
            <a href="#"><img src="images/projects/previews/project5.png" /></a>
        </div>
        <div class="project-description">
            <div class="name">Sample project 5</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
            <div class="actions">
                <a class="btn btn-mini btn-inverse" href="pages/projects/project5.html">
                    View Details
                </a>
            </div>
        </div>

        <div class="project-stats">
            <span class="views">
                <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 184
            </span>
            <span class="likes">
                <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 18
            </span>
        </div>
    </div>

    <div class="project-container">
        <div class="project-shot">
            <a href="#"><img src="images/projects/previews/project6.png" /></a>
        </div>
        <div class="project-description">
            <div class="name">Sample project 6</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
            <div class="actions">
                <a class="btn btn-mini btn-inverse" href="pages/projects/project6.html">
                    View Details
                </a>
            </div>
        </div>

        <div class="project-stats">
            <span class="views">
                <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 1201
            </span>
            <span class="likes">
                <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 885
            </span>
        </div>
    </div>

    <div class="project-container">
        <div class="project-shot">
            <a href="#"><img src="images/projects/previews/project7.png" /></a>
        </div>
        <div class="project-description">
            <div class="name">Sample project 7</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
            <div class="actions">
                <a class="btn btn-mini btn-inverse" href="pages/projects/project7.html">
                    View Details
                </a>
            </div>
        </div>

        <div class="project-stats">
            <span class="views">
                <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 255
            </span>
            <span class="likes">
                <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 33
            </span>
        </div>
    </div>

    <div class="project-container">
        <div class="project-shot">
            <a href="#"><img src="images/projects/previews/project8.png" /></a>
        </div>
        <div class="project-description">
            <div class="name">Sample project 8</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
            <div class="actions">
                <a class="btn btn-mini btn-inverse" href="pages/projects/project8.html">
                    View Details
                </a>
            </div>
        </div>

        <div class="project-stats">
            <span class="views">
                <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 548
            </span>
            <span class="likes">
                <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 25
            </span>
        </div>
    </div>

    <div class="project-container">
        <div class="project-shot">
            <a href="#"><img src="images/projects/previews/project9.png" /></a>
        </div>
        <div class="project-description">
            <div class="name">Sample project 9</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
            <div class="actions">
                <a class="btn btn-mini btn-inverse" href="pages/projects/project9.html">
                    View Details
                </a>
            </div>
        </div>

        <div class="project-stats">
            <span class="views">
                <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 332
            </span>
            <span class="likes">
                <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 111
            </span>
        </div>
    </div>

    <div class="project-container">
        <div class="project-shot">
            <a href="#"><img src="images/projects/previews/project10.png" /></a>
        </div>
        <div class="project-description">
            <div class="name">Sample project 10</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. </div>
            <div class="actions">
                <a class="btn btn-mini btn-inverse" href="pages/projects/project10.html">
                    View Details
                </a>
            </div>
        </div>

        <div class="project-stats">
            <span class="views">
                <a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a> 15
            </span>
            <span class="likes">
                <a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a> 14
            </span>
        </div>
    </div>-->


