

    <section id="main">
        <div class="container center">
            <div class="row">
                <div class="span12">

                    <div class="box project-details">
                        <div class="title">
                           {{projectName}}
                        </div>

                        <div class="shot">
                            <img src="{{projectImage}}" />
                        </div>

                        <div class="description">
                            <div class="desc">
                                <span class="title">Project description</span>
                                <span class="main-text">
                                    {{projectDesc}}.
                                    Visit the website <a href="{{projectUrl}}" target="_blank">here</a>.
                                </span>
                            </div>

                            <div class="technologies">
                                <span class="title">Technologies used</span>
                                <span class="tech">{{projectTech}}</span>
                            </div>
                        </div>

                            <div class="back">
                                <a href="#/index" class="btn btn-mini btn-inverse">
                                    Back to Projects
                                </a>
                                                     
                                <a href="{{projectUrl}}" target="_blank" class="btn btn-mini btn-primary">
                                    Visit Website
                                </a>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
   