<div id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h4>our menu</h4>
                <ul class="list-menu">
                    <li>
                        <div class="menu-title"><span class="lead">Curry Dishes</span></div>
                        <div class="row">
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>FISH CURRY<br />
                                                Traditional Sri Lankan curry with homemade curry masala and spices, enriched with coconut milk
                                            </td>
                                            <td>$ 7.00</td>
                                        </tr>
                                        <tr>
                                            <td>MUTTON CURRY</td>
                                            <td>$ 12.50</td>
                                        </tr>
                                        <tr>
                                            <td>SQUID CURRY</td>
                                            <td>$ 8.95</td>
                                        </tr>
                                        <tr>
                                            <td>EGG CURRY</td>
                                            <td>$ 6.50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>CRAB CURRY<br />
                                                Crab cooked in Sri Lankan style with a variety of curry masala and coconut milk in low heat until the flavour is fused into the meat through the shell</td>
                                            <td>$ 11.50</td>
                                        </tr>
                                        <tr>
                                            <td>BEEF CURRY<br />
                                                Boneless beef is slow-cooked with fresh bell peppers, onions, and tomatoes with touch of coconut</td>
                                            <td>$ 9.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title"><span class="lead">Vegetable Curry</span></div>
                        <div class="row">
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>EGGPLANT CURRY</td>
                                            <td>$ 3.50</td>
                                        </tr>
                                        <tr>
                                            <td>DHAL CURRY
                                                <br>
                                                Classic vegetarian dish with lentils and kidney beans cooked in home-style with onions, garlic, ginger, herbs, spices and touch of cream</td>
                                            <td>$ 3.00</td>
                                        </tr>
                                        <tr>
                                            <td>BEANS CURRY</td>
                                            <td>$ 3.50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>SPINACH CURRY</td>
                                            <td>$ 3.50</td>
                                        </tr>
                                        <tr>
                                            <td>PUMPKIN WITH CASSAVA CURRY</td>
                                            <td>$ 3.50</td>
                                        </tr>
                                        <tr>
                                            <td>POTATO CURRY
                                                <br>
                                                Dices of potato tossed with crushed red chilly and Indian spices</td>
                                            <td>$ 3.50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title"><span class="lead">Salads</span></div>
                        <div class="row">
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>CHICKEN SALAD</td>
                                            <td>$ 4.00</td>
                                        </tr>
                                        <tr>
                                            <td>WHITE SALAD</td>
                                            <td>$ 3.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>GARDEN SALAD</td>
                                            <td>$ 4.00</td>
                                        </tr>
                                        <tr>
                                            <td>MIXED SALAD</td>
                                            <td>$ 4.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title"><span class="lead">Devilled Dishes</span></div>
                        <div class="row">
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>DEVILLED EGG</td>
                                            <td>$ 6.50</td>
                                        </tr>
                                        <tr>
                                            <td>DEVILLED CHICKEN</td>
                                            <td>$ 6.50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>DEVILLED BEEF</td>
                                            <td>$ 6.50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title"><span class="lead">Chicken Special</span></div>
                        <div class="row">
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>TANDOORI CHICKEN<br />
                                                Tender bone-in chicken marinated overnight in cultured yogurt and spices, then flame broiled on skewers</td>
                                            <td>$ 6.95</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>CHICKEN 65</td>
                                            <td>$ 4.95</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title"><span class="lead">Rice Dishes</span></div>
                        <div class="row">
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>PLAN RICE</td>
                                            <td>$ 3.00</td>
                                        </tr>
                                        <tr>
                                            <td>FRIED RICE</td>
                                            <td>$ 6.50</td>
                                        </tr>
                                        <tr>
                                            <td>JEERA RICE<br />
                                                Pearl white basmati rice cooked with cumin powder</td>
                                            <td>$ 3.95</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>YOGHURT RICE</td>
                                            <td>$ 3.95</td>
                                        </tr>
                                        <tr>
                                            <td>VEGETABLE RICE<br />Fluffy rice sautéed with shredded vegetables</td>
                                            <td>$ 3.95</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title"><span class="lead">Sweets</span></div>
                        <div class="row">
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>BOONDI LADDU</td>
                                            <td>$ 2.00</td>
                                        </tr>
                                        <tr>
                                            <td>KESSARI</td>
                                            <td>$ 1.50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>POLLY</td>
                                            <td>$ 3.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="span4">
                <h4>party menu</h4>
                <div class="block-2-group">
                    <div class="block-2">
                        <figure class="img-polaroid">
                            <img src="~/r/website/party-celebration.jpg" alt="Party Celebration at Tasty FoodsRestaurant">
                        </figure>
                        <p class="lead"><a href="#" class="lead">Experience a wonderful party time with traditional Sri Lankan and Indian cuisine</a></p>
                        <p>We provide on demand order from our standard menu to all party celebrations.</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <h4>today's special</h4>
                <div class="block-2-group">
                    <div class="block-2">
                        <p class="lead"><a href="#" class="lead">Get a free FALUDA or COCONUT DRINK</a></p>
                        <p>When you spend $ 20.00 or more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
