<div id="content">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h4>about us</h4>
                <div class="block-2">
                    <figure class="img-polaroid">
                        <img src="~/r/menu/home-ground-spices-01-w600.jpg" alt="Home ground spices at Tasty FoodsBest Food Restaurant in Melbourne" />
                    </figure>
                    <p class="lead">Old world Sri Lankan and Indian cooking in Melbourne</p>
                    <p>Since we opened, our focus and aim has been to provide quality authentic Sri Lankan and Indian food, along with a fantastic customer service that you can’t help notice from the moment you enter our doorstep. You will be greeted by the aroma of the “old world Sri Lankan and Indian cooking” and fresh spicy ingredients. The smell of our home ground spices and home style curries in our kitchen creates an intimate atmosphere.</p>
                </div>
            </div>
            <div class="span4">
                <h4>why choose us?</h4>
                <dl class="list-history">
                    <dt class="lead">Classic Sri Lankan and Indian dishes</dt>
                    <dd>Our Restaurant offers a menu with a combination of classic Sri Lankan and Indian dishes with contemporary twists. From great biryani to the home made meat curries, vegetarian dishes and not forgetting the delicious desserts, leaving your taste buds more than satisfied. Thus, making us the perfect place for all Sri Lankan and Indian food lovers!</dd>
                    <dt class="lead">Fine place to dine</dt>
                    <dd>We are located in the Hub Arcade in Dandenong, a popular shopping spot in Dandenong and is the most vibrant part of eastern suburbs.</dd>
                    <dt class="lead">Experience and enjoy authentic Sri Lankan and Indian taste</dt>
                    <dd>At Tasty FoodsRestaurant you’re guaranteed to leave having enjoyed truly authentic Sri Lankan and Indian food at a price that simply cannot be contended with. This is one experience that should not be missed.</dd>
                </dl>
                <a href="#" class="btn btn-1" style="display: none;">more</a>
            </div>
            <div class="span4">
                <h4>our staff</h4>
                <ul class="list-staff">
                    <li class="span4">
                        <figure class="img-polaroid">
                            <img src="~/r/website/professional-chef-garnish-meat-dish-01-w355-bw.jpg" alt="Professional chef garnish meat dish at Tasty FoodsBest Food Restaurant in Melbourne" />
                        </figure>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" style="display: none;">
            <div class="span12">
                <h3 class="bot-0">Our news and events</h3>
            </div>
        </div>
        <div class="row list-news" style="display: none;">
            <div class="span3">
                <div class="date">29<span>aug</span></div>
                <div><a href="#"></a></div>
            </div>
            <div class="span3">
                <div class="date">22<span>aug</span></div>
                <div><a href="#"></a></div>
            </div>
            <div class="span3">
                <div class="date">21<span>aug</span></div>
                <div><a href="#"></a></div>
            </div>
            <div class="span3">
                <div class="date">17<span>aug</span></div>
                <div><a href="#"></a></div>
            </div>
        </div>
    </div>
</div>
