<div id="content">
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="right-1">
                    <h4>contact us</h4>
                    <div class="map">
                        <figure class="img-polaroid">
                            <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Flinders+Street,+Melbourne+VIC+3000&amp;aq=&amp;sll=-37.985373,145.214796&amp;sspn=0.009657,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=Flinders+St,+Melbourne+Victoria+3175,+Australia&amp;t=m&amp;ll=-37.8182609,144.9648863&amp;spn=0.023679,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                        </figure>
                    </div>
                    <address class="address">
                        <strong><span class="brand">Tasty&nbsp;Foods</span><br />
                           In Melbourne CBD,<br />
                            123, Flinders Street,<br />
                            Melbourne, VIC 3000.
                        </strong>
                        <span>Telephone:</span>03 9000 9000<br />
                        <span>Mobile:</span>04xx xxx xxx<br />
                        E-mail: <a href="#" class="link">mail@TastyFoods.com.au</a>
                    </address>
                </div>
            </div>
            <div class="span6">
                <div class="right-1">
                    <h4>get in touch</h4>
                    <form id="contact-form" class="contact-form">
                        <div class="success">Contact form submitted! <strong>We will be in touch soon.</strong></div>
                        <fieldset>
                            <label class="name">
                                <input type="text" value="Name:">
                                <span class="error">*This is not a valid name.</span><span class="empty">*This field is required.</span>
                            </label>
                            <br>
                            <label class="email">
                                <input type="email" value="E-mail:">
                                <span class="error">*This is not a valid email address.</span><span class="empty">*This field is required.</span>
                            </label>
                            <br>
                            <label class="phone">
                                <input type="text" value="Phone:">
                                <span class="error">*This is not a valid phone number.</span><span class="empty">*This field is required.</span>
                            </label>
                            <br>
                            <label class="message">
                                <textarea>Message:</textarea>
                                <span class="error">*The message is too short.</span><span class="empty">*This field is required.</span>
                            </label>
                        </fieldset>
                        <div class="pull-right">
                            <a href="#" class="btn btn-1" data-type="reset">Clear</a>
                            <a href="#" class="btn btn-1" data-type="submit">submit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>