<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4>Sri Lankan and Indian Food Gallery</h4>
                <div class="thumbnails clearfix">
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-appam-palappam-brakefast-dish-01-440x330.jpg" 
                                     alt="Home style Appam / Palappam, a brakefast dish of Sri Lanka, kerala and South India at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Appam &amp; Palappam, a brakefast dish of Sri Lanka, kerala and South India</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">அப்பம் &amp; பாலப்பம்</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-red-chamba-puttu-of-ground-rice-and-coconut-with-chickpeas-curry-01-440x330.jpg" 
                                     alt="Home style Red chamba Puttu with chickpeas curry, a South Indian and Sri Lankan breakfast dish of steamed cylinders of ground rice layered with coconut at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Red chamba Puttu with chickpeas curry, a South Indian and Sri Lankan breakfast dish of steamed cylinders of ground rice layered with coconut</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">புட்டு / பிட்டு</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-sambar-vada-and-idli-indian-dish-01-440x330.jpg" 
                                     alt="Home style Sambar Vada and Idli Indian dish at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Sambar Vada &amp; Idli</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">சாம்பார் வடை &amp; இட்லி</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-sambar-dosa-on-banana-leaf-with-spicy-ingredients-a-south-indian-dish-01-440x330.jpg" 
                                     alt="Home style Sambar Dosa on Banana leaf with spicy ingredients a South Indian dish at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Sambar Dosa &amp; chutney</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">சாம்பார் தோசை &amp; சட்டினி</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-fresh-fried-rolls-01-440x330.jpg" 
                                     alt="Home style fresh fried Rolls at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Fresh fried Rolls with spicy sauces</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">காரமான சுவையூட்டிகள் கொண்டு வறுத்த ரோல்ஸ்</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-sambar-traditional-indian-food-01-440x330.jpg" 
                                     alt="Home style Sambar, traditional Indian vegetarian dish at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Sambar, traditional Indian vegetarian dish</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">சாம்பார்</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-vegetable-biryani-in-a-clay-handi-pot-01-440x330.jpg" 
                                     alt="Home style Vegetable Biryani in a clay handi pot at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Vegetable Biryani</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">சைவ பிரியாணி</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-indian-masala-mix-vegetable-curry-01-440x330.jpg" 
                                     alt="Home style Indian masala mix Vegetable Curry at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Vegetable Curry</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">காய்கறிகூட்டு</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-traditional-spicy-chicken-biryani-01-440x330.jpg" 
                                     alt="Home style traditional spicy Chicken Biryani at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Chicken Biryani</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">கோழி பிரியாணி</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-traditional-indian-mutton-korma-01-440x330.jpg" 
                                     alt="Home style traditional Indian Mutton Korma at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Traditional Mutton Korma</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">ஆட்டிறைச்சி குருமா</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-tandoori-chicken-indian-dish-01-440x330.jpg" 
                                     alt="Home style Tandoori Chicken, an Indian dish at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Tandoori Chicken</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">தந்தூரி கோழி கறி</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-butter-chicken-curry-with-basmati-rice-and-limes-01-440x330.jpg" 
                                     alt="Home style Butter Chicken Curry with Basmati Rice and Limes at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Butter Chicken Curry</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">வெண்ணெய் கோழி குழம்பு</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-stirred-fried-crab-curry-with-garlic-and-pepper-01-440x330.jpg" 
                                     alt="Home style stirred-fried Crab Curry with Garlic and Pepper at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Crab Curry</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">நண்டு குழம்பு</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-tandoori-prawns-with-basmati-rice-01-440x330.jpg" 
                                     alt="Home style Tandoori Prawns with Basmati Rice at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Tandoori Prawns with Basmati Rice</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">தந்தூரி இறால் கறி</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-traditional-spicy-curry-fish-01-440x330.jpg" 
                                     alt="Home style Traditional Spicy Fish Curry at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Traditional spicy Fish Curry</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">மீன் குழம்பு</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-idiyappam-a-steam-cooked-dish-with-rice-noodiles-served-on-banana-leaf-01-440x330.jpg" 
                                     alt="Home style Idiyappam, a steam-cooked dish with rice noodiles at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Idiyappam, a steam-cooked rice noodiles</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">இடியப்பம்</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-vada-deep-fried-donuts-shaped-lentil-snack-01-440x330.jpg" 
                                     alt="Home style Vada, deep-fried donuts-shaped lentil snack at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Vada, deep-fried donuts-shaped lentil snack</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">வடை</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-sri-lankan-and-indian-gulab-jamun-dessert-01-440x330.jpg" 
                                     alt="Home style Sri Lankan and Indian Gulab Jamun dessert at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Gulab Jamun</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">குலாப்ஜாமுன்</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-besan-laddu-01-440x330.jpg" 
                                     alt="Home style besan Laddu at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Laddu</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">லட்டூ</a></p>
                        </div>
                    </div>
                    <div class="span3 thumbnail">
                        <div class="maxheight2">
                            <figure class="img-polaroid">
                                <img src="~/r/menu/home-style-sri-lankan-indian-tea-01-440x330.jpg" 
                                     alt="Home style tea at Tasty FoodsBest Food Restaurant in Melbourne" /></figure>
                            <p class="lead en_US"><a href="#" class="lead">Sri Lankan Tea</a></p>
                            <p class="lead ta_IN"><a href="#" class="lead">இலங்கை தேநீர்</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
