<div id="content">
    <div class="container">
        <div class="row block-404">
            <div class="span8">
                <img src="~/r/restaurant/website/404.png" alt="Sorry Page Not Found">
            </div>
            <div class="span4">
                <h2>Sorry ;(</h2>
                <h4>The page not found</h4>

                <p>The page you requested could not be found.</p>
                <p>The page you are coming from may have made a mistake, or you should update your bookmarks.</p>

                <ol>
                    <li>
                        <a href="mailto:chef@TastyFoods.com.au" target="_blank">E-mail support</a> to report the problem.
                    </li>
                    <li>
                        <a href="javascript:history.go(-1)">Go back</a> and try something else.
                    </li>
                    <li>
                        <a href="@TastyFoods.SEO.Home_Index_Canonical()">Go to the Home page</a> to start fresh and explore our products and services.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
